
<div ng-show="{{user_logged}}" class="window">
    <div data-ng-init="init()">

        <!-- ADD NEW NODE MODAL -->
        <!-- TODO: extract this to controller -->
        <script>
            // materialize modal initailizer
            $(document).ready(function () {
                jQuery.noConflict();
                $('.modal-trigger').leanModal();
            });
        </script>

        <!-- Add Node Modal Structure -->
        <div id="AddNodeModal" class="modal bottom-sheet">

            <div class="container">
                <form novalidate class="simple-form">


                    <div class="col-md-9">
                        <!--<div class="input-field">
                            <input type="text" ng-model="node.name" />
                            <label for="icon_prefix">Name</label>

                        </div>-->
                        <div class="input-field">
                            <textarea type="text" class="materialize-textarea" style="font-size:26px;" ng-model="node.ChangeInfo" />
                            <label for="icon_prefix">Changes compared to previous node</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <!-- Upload Image section -->
                        <button class="btn waves-effect waves-green" type="file" ngf-select="createNode(node, $file)"
                                accept="image/*" ngf-max-height="95000" ngf-max-size="60MB">
                            Add new Node {{(f.progress >= 0)? ' '+f.progress+'%':''}}
                        </button>

                        <div style="font:smaller">
                            {{f.name}} {{f.$error}} {{f.$errorParam}}
                            <span class="progress" ng-show="false">
                                <div style="width:{{f.progress}}%"
                                     ng-bind="f.progress + '%'"></div>
                            </span>
                        </div>
                        <!--Debug: fffff
                        {{f}} {{errorMsg}}-->
                        <!-- END -->

                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Left Panel -->
    <div class="col-md-6">
        <div class="row dark-panel">
            <h3>Versions Graph</h3>
            <div class="row">
                <!-- Modal trigger -->
                <button class="btn waves-effect waves-light" ng-click="saveAll();">
                    <i class="material-icons white left">vpn_key</i>
                    Save
                </button>
                <button class="btn waves-effect waves-light" ng-click="clearSelection();" ng-show="selectedNodesId.length > 0">
                    <i class="material-icons white left">location_off</i>
                    Unselect
                </button>
                <a class="btn modal-trigger waves-effect waves-light red" 
                   data-target="AddNodeModal" 
                   ng-show="selectedNodesId.length > 0 && selectedNode.accepted == true">
                    <i class="material-icons white left">note_add</i>
                    Add Node
                </a>

                <form class="">
                    <input type="checkbox" class="filled-in" id="filled-in-box" ng-model="selectManyNodes" />
                    <label for="filled-in-box">Select multiple</label>
                </form>
            </div>

            <!-- Graph -->
            <div class="row well"><div ng-click="graphClick();" id="myholder"></div></div>

        </div>


    </div>

    <!-- Right panel -->
    <div class="col-md-6">

        <div class="row dark-panel hoverable">

            <!-- Help Tutorial -->
            <div ng-show="selectedNode == null || selectedNode.root == true">
                <div class="row">

                    <br>
                    <h4>This is graph showing flow and changes mades in your project developement.</h4>

                    <blockquote> Root is starting node, Head is node that you think is most current or fullfills most requrements.</blockquote>

                    <blockquote>You can add and remove nodes.</blockquote>

                    <blockquote>
                        If you select node preview panel will show up.
                        Up there you can see node image and changelog.
                        You can allso ask one of your clients to add markers on it.
                        He can also accept this node and reject it.
                    </blockquote>




                </div>
            </div>


            <!-- Selected node preview -->
            <div ng-show="selectedNode != null && selectedNode.root == false">
                <div class="row" style="margin: 0;">

                    <br>
                    <!-- Image -->
                    <div class="row center" ng-show="selectedNode.image != null" style="
                                                background-image: url('data:image/JPEG;base64,{{selectedNode.image}}');
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                background-position: 50% 50%;
                                                width:100%;
                                                height:400px;
                                                background-color:#0B0B0B;
                    ">
                    </div>

                    <!-- Buttons -->
                    <div class="row">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn waves-effect waves-light " ng-click="href('/project/' + projectId + '/markers/' + selectedNode.id)">
                                <i class="material-icons white left">open_with</i>
                                Opinions ( {{selectedNode.imageMarkers.length}} )
                            </button>
                            <button class="btn waves-effect waves-light" ng-click="clearSelection();" ng-show="selectedNode.imageMarkers.length == 0">
                                <i class="material-icons white left">send</i>
                                Request opinions
                            </button>
                        </div>

                        <button class="btn waves-effect waves-light " ng-click="setNodeHead();" ng-hide="selectedNode.rejected || selectedNode.head">
                            <i class="material-icons white right">navigation</i>
                            Head
                        </button>


                    </div>

                </div>
                <br>

                <!-- Changelog and info -->
                <div class="row panel" style="padding:20px;background-color:rgb(20, 20, 20)">
                    <h5>Change log    <span class="right">{{selectedNode.timestamp}}</span></h5>


                    <div class="collection">
                        <div ng-repeat="info in selectedNode.changeInfo" class="collection-item transparent teal-text" style="font-size: 22px;">

                            <i class="material-icons">add</i> {{info}}
                        </div>
                    </div>
                </div>
                <button class="btn black waves-effect waves-red right">
                    <i class="material-icons white left">error_outline</i>
                    Remove node
                </button>
                <br>
                <br>
                <br>
            </div>

        </div>
    </div>

</div>

