
<div ng-show="{{user_logged}}" class="window">


    <div data-ng-init="init()">

        <div class="col-md-6">
            <div class="row dark-panel">
                <h1>Project {{project.name}}</h1>


                <div class="row">
                    {{ project.description}}
                </div>
                <div class="row">
                    {{ project.owner.name}}
                </div>


                <div class="row well">

                    <button class="btn btn-danger" disabled ng-click="">Invite Watchers</button>

                    <!-- todo: add modals -->

                    <button class="btn btn-danger" ng-click="deleteProject(project.id)">Remove</button>


                    <!-- Upload Image section -->
                    <button class="btn btn-default" type="file" ngf-select="uploadFiles(project.id, $file)"
                            accept="image/*" ngf-max-height="5000" ngf-max-size="20MB">
                        Upload Image
                    </button>

                    <div style="font:smaller">
                        {{f.name}} {{f.$error}} {{f.$errorParam}}
                        <span class="progress" ng-show="f.progress >= 0">
                            <div style="width:{{f.progress}}%"
                                 ng-bind="f.progress + '%'"></div>
                        </span>
                    </div>
                    <!--Debug: fffff{{f}} {{errorMsg}}-->
                    <!-- END -->


                </div>

            </div>

            <div class="row dark-panel">
                <h1>Debug</h1>




                <div class="row well">

                </div>

            </div>

        </div>
        <div class="col-md-5">
            <div class="row dark-panel">
                <h1>Requirements</h1>


            </div>

            <div class="row dark-panel">
                <h1>People</h1>

                <h3>Owner</h3>

                <h3>Menagers</h3>

                <div class="row" ng-repeat="meneger in users">
                    {{meneger.name}}
                </div>


                <h3>Watchers</h3>

                <div class="row" ng-repeat="watcher in users">
                    {{watcher.name}}
                </div>


            </div>

        </div>
    </div>

</div>
