
<div ng-show="{{user_logged}}" class="window">


    <div data-ng-init="getProject()">


        <h1>Project {{project.name}}</h1>



        <div class="row well">

            <div class="col-xs-3">
                <div class="row">
                    Project description
                </div>
                <div class="row">
                    Project owner name
                </div>

            </div>

            <div class="col-xs-5">
              
              
             
                <div class="row" >
                    {{ project.description}}
                </div>
                <div class="row">
                    {{ project.owner.name}}
                </div>
               
            </div>  

        </div>
        <br><br><br>
        <div class="row well" >

            <button class="btn btn-danger" ng-click="">Invite Watchers</button>

            <!-- todo: add modals -->
            <button class="btn btn-danger" ng-click="deleteProject($index, project.id)">Remove</button>

            <!-- Upload Image section -->
            <button class="btn btn-default" type="file" ngf-select="uploadFiles(project.id, $file)"
                    accept="image/*" ngf-max-height="5000" ngf-max-size="20MB">
                Upload Image
            </button>
          
            <div style="font:smaller">
                {{f.name}} {{f.$error}} {{f.$errorParam}}
                <span class="progress" ng-show="f.progress >= 0">
                    <div style="width:{{f.progress}}%"
                         ng-bind="f.progress + '%'"></div>
                </span>
            </div>
            <!--Debug: fffff{{f}} {{errorMsg}}-->
            <!-- END -->

           

        </div>

        <div class="row well">

         
            <form novalidate class="simple-form">

                <input type="text" ng-model="image.name"        placeholder="Image Name">
                <input type="text" ng-model="image.description" placeholder="Image Description">

                <input class="btn btn-success" ng-click="createImage(image)" value="Add new image" />

                <button class="btn btn-default" type="file" ngf-select="uploadFiles(project.id, $file)"
                        accept="image/*" ngf-max-height="5000" ngf-max-size="20MB">
                    Add new Image
                </button>

            </form>


            <div style="font:smaller">
                {{f.name}} {{f.$error}} {{f.$errorParam}}
                <span class="progress" ng-show="f.progress >= 0">
                    <div style="width:{{f.progress}}%"
                         ng-bind="f.progress + '%'"></div>
                </span>
            </div>
            <!--Debug: fffff{{f}} {{errorMsg}}-->
            <!-- END -->



        </div>



    </div>

</div>