
<div ng-show="{{user_logged}}" class="window">
    <div>
        <div data-ng-init="getProjects()">





            <!-- ADD NEW PROJECT -->
            <!-- TODO: extract this to controller -->
            <script>
                // materialize modal initailizer
                $(document).ready(function () {
                    jQuery.noConflict();
                    $('.modal-trigger').leanModal();
                });
            </script>
            <!-- Modal trigger -->
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="modal-trigger btn-floating btn-large red waves-effect waves-light" data-target="AddProjectModal">
                    <i class="large material-icons">add</i>
                </a>
                <!--<ul>
                    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                </ul>-->
            </div>


            <div class="row dark-panel">
                <h3>Filter</h3>

                <div class="row well">

                    <button class="btn btn-danger" disabled ng-click="">sdfsdf</button>

   
                    <button class="btn btn-danger" ng-click="deleteProject(project.id)">sfsdf</button>

                </div>


            </div>


            <!-- Add Project Modal Structure -->
            <div id="AddProjectModal" class="modal bottom-sheet">

                <div class="container">
                    <form novalidate class="simple-form">

                        <div class="col-md-3">
                            <img style="padding:20px;" src="https://d1elrd4d6l6916.cloudfront.net/assets/logo-placeholder-3ac0fec96380a52f259a4b44fdcfd557.png" alt="Drag&Drop image" />
                        </div>

                        <div class="col-md-6">
                            <div class="input-field">
                                <input type="text" ng-model="project.name" />
                                <label for="icon_prefix">Name</label>

                            </div>
                            <div class="input-field">
                                <textarea type="text" class="materialize-textarea" ng-model="project.description" />
                                <label for="icon_prefix">Description</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <btn class="btn waves-effect waves-green" ng-click="createProject(project)">Add new project</btn>
                        </div>

                    </form>
                </div>

            </div>

            <!-- END ADD NEW PROJECT -->

            <br><br>

        </div>
    </div>



    <!-- Projects Gallery -->

    <div ng-repeat="Project in projects | limitTo:visibleProjectsNum">

        <div class="panel panel-default"
             style="
                            width: 300px;
                            height:500px;
                            background-color:transparent;
                            border-radius: 10px;
                            border-color:transparent;
                            float:left;
                            margin:10px;
                            overflow: hidden;
                            ">

            <a class="panel-body"
               ng-click="href('/project/'+Project.id);"
               style="padding:0;">
                <img src="http://www.farhieyecare.com/wp-content/uploads/2012/01/placeholder.png"
                     style=" border-top-right-radius: 10px;
                                     border-top-left-radius: 10px;
                                     border-color:transparent;

                                     ">
            </a>
            <div class="panel-heading"
                 style="
                            background-color:#0B0B0B;
                             border-bottom-right-radius: 10px;
                             border-bottom-left-radius: 10px;
                             border-color:transparent;
                            ">

                <h5 class="white-text text-darken-4">{{Project.name}}</h5>

                <div class="projects-panel-details">
                    <p>{{Project.description}}</p>
                    <p class="fade-overlay"></p>
                </div>

            </div>

        </div>
    </div>


    <!-- TODO: change to load on scroll and add pagination-->
    <div class="row center" ng-show="visibleProjectsNum<projects.size">
        <button class="btn btn-default" ng-click="visibleProjectsNum=visibleProjectsNum+8;">Load more</button>
    </div>

</div>
<br><br><br><br><br><br><br><br>



