
<div ng-show="{{user_logged}}">
    <!-- Add Button -->
    <div class="row" hidden>

        <button class="btn btn-danger" ng-click="getProjects()">Get Projects</button>

        <form novalidate class="simple-form">
            <input type="text" ng-model="user.name" placeholder="Name" />
            <input type="text" ng-model="user.description" placeholder="Description" />

            <input class="btn btn-success" ng-click="createProject(user)" value="Add new project" />
        </form>







    </div>

    <!-- List -->
    <div class="gallery">
        <div class="row" data-ng-init="getProjects()">



            <div hidden ng-repeat="Project in projects" class="col-md-3"
                 style="margin:10px;background-color:darkgrey;padding:20px;">
                <img src="//placehold.it/380" class="img-responsive">

                <p>sfsf</p>
                <p>sfdsdfsf sdf sdfsd</p>
            </div>


        </div>
    </div>

</div>