
<div ng-show="{{user_logged}}" class="window">


    <div data-ng-init="init()">

        <div class="col-md-6">
            <div class="row dark-panel hoverable">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Project {{project.name}}</h1>
                    </div>

                    <div class="col-md-2" >
                        <label ng-show="project.rejected || project.accepted" style="margin-top:40px;">Finished</label>
                        <p style="font-size:22px;" ng-show="project.rejected || project.accepted" class="flow-text">{{ project.endDate.slice(0,10)}}</p>
                    </div>
                    <div class="col-md-2">
                        <label style="margin-top:40px;">Created</label>
                        <p style="font-size:22px;" class="flow-text">{{ project.timestamp.slice(0,10)}}</p>
                    </div>
                </div>

                <label>Status</label>
                <div class="row">
                    <div ng-show="project.accepted" style="width:100%;height:30px;border-radius:15px;font-size:20px;background-color:rgb(35, 141, 69);">
                        <b class="center" style="color:rgb(20,20,20)">
                            Project accepted
                        </b>
                    </div>
                    <div class="red" ng-show="project.rejected" style="width:100%;height:30px;border-radius:15px;font-size:20px;">
                        <b class="center" style="color:rgb(20,20,20)">
                            Project rejected
                        </b>
                    </div>
                    <div class="teal" ng-hide="project.rejected || project.accepted" style="width:100%;height:30px;border-radius:15px;font-size:20px;">
                        <b class="center" style="color:rgb(20,20,20)">
                            In progress
                        </b>
                    </div>
                    <button class="btn transparent btn-danger right" ng-click="deleteProject(project.id)" style="border-style:solid;border-width:1px;border-color:rgb(40,40,40);">
                        Remove
                    </button>
                    <button class="btn transparent waves-effect waves-red right" ng-hide="project.accepted" ng-click="rejectProject(project.id)" style="border-style:solid;border-width:1px;border-color:rgb(40,40,40);">
                        {{(project.rejected)?"Cancel rejection":"Reject project"}}
                    </button>
                    <button class="btn transparent waves-effect waves-green right" ng-hide="project.rejected" ng-click="acceptProject(project.id)" style="border-style:solid;border-width:1px;border-color:rgb(40,40,40);">
                        {{(project.accepted)?"Cancel acceptance":"Accept project"}}
                    </button>
                </div>


            </div>

            <div class="row dark-panel hoverable">

                <h4 data-toggle="collapse" data-target="#notesContent" style="cursor:pointer;">
                    <i class="material-icons big-icon">description</i> Notes <small class="right" style="font-size:18px;">visible only to project developer</small>
                </h4>
                <div id="notesContent" class="collapse in">
                    <div class="row well" style="min-height:200px;">
                        todo
                    </div>
                    <div class="row">
                        <form novalidate class="simple-form">
                            <div class="col-md-12">
                                <div class="input-field">
                                    <i class="material-icons prefix">subject</i>
                                    <textarea type="text" class="materialize-textarea" ng-model="newMarker.text" style="font-size:20px !important;" />
                                    <label for="icon_prefix">Content</label>
                                </div>

                                <button class="btn transparent waves-effect waves-teal right" ng-click="createMarker(selectedMarker.id)">
                                    <i class="right white-text material-icons">send</i>
                                    Add note
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><br><br><br><br><br><br><br><br><br><br><br>

        </div>
        <div class="col-md-5">
            <div class="row dark-panel hoverable">
                <h3>Requirements</h3>

                <div class="row">
                    <label>Description</label>
                    <p class="flow-text">{{ project.description}}</p>
                </div>

            </div>

            <!-- Users assigned to project -->
            <div id="projectPeoplePanel" class="row dark-panel hoverable">
                <h4>
                    <i class="material-icons big-icon">perm_identity</i>
                    <span  data-toggle="collapse" data-target="#usersContent" style="cursor:pointer;">Assigned users</span><button class="btn waves-effect waves-light right modal-trigger" data-target="AddPersonModal">Manage</button>
                </h4>

                <div id="usersContent" class="collapse in">
                    <table>
                        <thead>
                            <tr>
                                <th style="text-align: left;">User Name</th>

                                <th class="tooltipped center" data-position="top" data-delay="10" data-tooltip="Role in project">
                                    <i class="material-icons">assignment_ind</i>
                                </th>
                                <th class="tooltipped" data-position="top" data-delay="10" data-tooltip="Can see project">
                                    <i class="material-icons">visibility</i>
                                </th>
                                <th class="tooltipped" data-position="top" data-delay="10" data-tooltip="Can message you">
                                    <i class="material-icons">email</i>
                                </th>
                                <th class="tooltipped" data-position="top" data-delay="10" data-tooltip="Can like or dislike changes">
                                    <i class="material-icons">thumbs_up_down</i>
                                </th>
                                <th class="tooltipped" data-position="top" data-delay="10" data-tooltip="Can add markers on nodes">
                                    <i class="material-icons">my_location</i>
                                </th>
                                <th class="tooltipped" data-position="top" data-delay="10" data-tooltip="Can accept nodes">
                                    <i class="material-icons">call_split</i>
                                </th>
                                <th class="tooltipped" data-position="top" data-delay="10" data-tooltip="Can accept whole project">
                                    <i class="material-icons">done</i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: left;">{{project.owner.name}}</td>
                                <td class="center"> Owner</td>

                                <td>{{x.readonly? 'X' : '' }}</td>
                                <td>{{x.message? 'X' : '' }}</td>
                                <td>{{x.likeOrDislikeChanges? 'X' : '' }}</td>
                                <td>{{x.addMarkers? 'X' : '' }}</td>
                                <td>{{x.acceptNodes? 'X' : '' }}</td>
                                <td>{{x.acceptWholeProject? 'X' : '' }}</td>

                            </tr>
                            <tr ng-repeat="x in users">
                                <td style="text-align: left;">{{x.user.name}}</td>

                                <td class="center">{{x.projectRole }}</td>

                                <td>{{x.readonly? 'X' : '' }}</td>
                                <td>{{x.message? 'X' : '' }}</td>
                                <td>{{x.likeOrDislikeChanges? 'X' : '' }}</td>
                                <td>{{x.addMarkers? 'X' : '' }}</td>
                                <td>{{x.acceptNodes? 'X' : '' }}</td>
                                <td>{{x.acceptWholeProject? 'X' : '' }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>


            </div>

        </div>




        <script>
            // materialize modal initailizer
            $(document).ready(function () {
                jQuery.noConflict();
                $('.modal-trigger').leanModal();
            });
        </script>

        <!-- Modals-->
        <!-- Begin: Add Person Modal Structure -->
        <div id="AddPersonModal" class="modal" style=" background-color: transparent !important; box-shadow: 0 0 0 0 !important;">
            <div class="modal-content">
                <div class="row">
                    <div class="col-sm-10"><h4>Add new person to your project </h4></div>
                    <div class="col-sm-2"><a class="right modal-action modal-close waves-effect waves-red btn black">X</a></div>
                </div>


                <div class="row" ng-show="addPerson.selected == null">
                    <!-- Search -->
                    <form class="col-md-6">
                        <div class="row">
                            <div class="input-field col s6" style="width:90%;">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_prefix" type="text" class="validate"
                                       ng-model="addPerson.searchText"
                                       ng-change="addPersonSearch(addPerson.searchText)">
                                <label for="icon_prefix">Search person (name, e-mail)</label>
                            </div>
                        </div>
                    </form>

                    <!-- Generate public link -->
                    <div class="col-md-6" ng-show="addPerson.selected == null">
                        <p> Generate link for </p>
                        list here permissions
                        <br>
                        <button class="btn">Generate link</button>

                        <br>
                    </div>
                </div>
                <div class="row">
                    <!-- Search results -->
                    <div class="col-md-6" ng-show="addPerson.selected == null">
                        <div class="row well" ng-repeat="user in addPerson.searchResult" style="cursor:pointer;margin: 10px;padding: 10px;"
                             ng-click="addPersonSelect(user)">
                            <h6>{{user.name}}</h6>

                        </div>

                        <br>
                    </div>

                    <!-- Permisions -->
                    <div class="col-md-12" ng-show="addPerson.selected">
                        <h6 class="well">Permisons for <b class="teal-text">{{addPerson.selected.name}}</b> <a class=" right" ng-click="addPerson.selected = null;" style="cursor:pointer;">X</a></h6>

                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_prefix" type="text" class="validate"
                                       ng-model="addPerson.selected.role">
                                <label for="icon_prefix">Role in this project</label>
                            </div>
                        </div>

                        <!-- Switches -->
                        <div class="row">

                            <form action="#">
                                <div class="col-md-6">
                                    <p>
                                        <input type="checkbox" ng-model="addPerson.selected.permissionA" class="filled-in" id="filled-in-box1" checked="checked" />
                                        <label for="filled-in-box1">Allowed to read-only</label>
                                    </p>

                                    <p>
                                        <input type="checkbox" ng-model="addPerson.selected.permissionB" class="filled-in" id="filled-in-box2" checked="checked" />
                                        <label for="filled-in-box2">Allowed to message you</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" ng-model="addPerson.selected.permissionC" class="filled-in" id="filled-in-box3" />
                                        <label for="filled-in-box3">Allowed to like or dislike changes</label>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <input type="checkbox" ng-model="addPerson.selected.permissionD" class="filled-in" id="filled-in-box4" />
                                        <label for="filled-in-box4">Allowed to add markers</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" ng-model="addPerson.selected.permissionE" class="filled-in" id="filled-in-box5" />
                                        <label for="filled-in-box5">Allowed to accept nodes</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" ng-model="addPerson.selected.permissionF" class="filled-in" id="filled-in-box6" />
                                        <label for="filled-in-box6">Allowed to accept whole project</label>
                                    </p>
                                </div>

                            </form>
                        </div>
                        <br>
                        <br>
                        <button ng-click="addPersonFinalize(addPerson.selected)" class="btn waves-effect waves-light right">Add person</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End -->


    </div>

</div>
