
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Project ID</th>
                    <th>Name</th>
                    <th>Finished</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="order in orders">
                    <td>
                        {{ order.ProjectID }}
                    </td>
                    <td>
                        {{ order.Name }}
                    </td>
                    <td>
                        <input type="checkbox" data-ng-model="order.Finished" disabled="disabled">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
