body {
}





.navbar-inverse {
    border-color: transparent;
}

#sidebar, #content {
    position: absolute;
    top: 50px; /* no navbar overlapping */
    bottom: 0;
}

#sidebar {
    padding-top: 20px;
    left: -2em;
    width: 10em;
    position: fixed;
    background-color: #222;
}

    #sidebar ul {
        list-style-type: none;
        font-size: 16px;
    }


    #sidebar li {
    }

    #sidebar a {
        padding: 0;
        
        text-decoration: none;
        color: #999;
    }

        #sidebar a:hover {
            color: white;
        }

    #sidebar .sidebar-active-el {
        color: orange;
    }

#content {
    padding: 20px;
    left: 10em;
    right: 0;
    /*background-color: bisque;*/
}
