body {
}



/* no border around link after click */
a {
    outline: 0 !important;
}



img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.navbar-inverse {
    margin-left:135px;
    border-color: transparent !important;
    /*background-color: transparent !important;*/
}


#content {
    padding: 20px;
    left: 10em;
    right: 0;
    /*background-color: bisque;*/
}
