body {
    background-color:#f1f4f8;
}



/* no border around link after click */
a {
    outline: 0 !important;
}

.btn{
    border-radius:0 !important;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.navbar-inverse {
    margin-left:135px;
    border-color: transparent !important;
    /*background-color: transparent !important;*/
}


#content {
    margin-left:200px;
    
    overflow-x: hidden;
    padding:20px;
    /*background-color: bisque;*/
}
