
<div ng-show="{{user_logged}}">
    <!-- Add Button -->
    <div class="row">

        <button class="btn btn-danger" ng-click="getProjects()">Get Projects</button>

        <form novalidate class="simple-form">
            <input type="text" ng-model="user.name" placeholder="Name" />
            <input type="text" ng-model="user.description" placeholder="Description" />

            <input class="btn btn-success" ng-click="createProject(user)" value="Add new project" />
        </form>






        <h4>Upload on file select</h4>
        <button type="file" ngf-select="uploadFiles($file)"
                accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
            Select File
        </button>
        <br><br>
        File:
        <div style="font:smaller">
            {{f.name}} {{f.$error}} {{f.$errorParam}}
            <span class="progress" ng-show="f.progress >= 0">
                <div style="width:{{f.progress}}%"
                     ng-bind="f.progress + '%'"></div>
            </span>
        </div>
        fffff{{f}}
        {{errorMsg}}


    </div>

    <!-- List -->
    <div class="row" data-ng-init="getProjects()">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Owner</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="project in projects">
                    <td>
                        <div class="row">{{project.ImageName}}</div>
                        <div class="row">
                            <img style="height: 400px;width: auto; "
                                 ng-src="data:image/JPEG;base64,{{project.Image}}">
                        </div>
                    </td>
                    <td>
                        {{ project.Id }}
                    </td>
                    <td>
                        {{ project.Name }}
                    </td>
                    <td>
                        {{project.Description}}
                    </td>
                    <td>
                        {{project.OwnerId}}
                    </td>
                    <td>

                        <button class="btn btn-danger" ng-click="deleteProject($index, project.Id)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>