



<div ng-show="{{user_logged}}" class="window" id="markers-window">
    <div data-ng-init="init()">








        <!-- Image -->
        <!--<img id="image" class="row center " style="
                                                background-image: url('data:image/JPEG;base64,{{image}}');
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                background-position: 50% 50%;
                                                width:100%;
                                                height:700px;
                                                background-color:#0B0B0B;
                    ">-->

        <div class="center">
            <div id="image-container" class="image-container tagged" style="background-color:#0B0B0B;">

                <img id="image"
                     class="modal-trigger"
                     src="data:image/JPEG;base64,{{image}}"
                     ng-click="click($event)"
                     style="opacity:0;"
                     data-target="AddMarkerModal">


                <script>
                    // materialize modal initailizer
                    $(document).ready(function () {
                        jQuery.noConflict();
                        $('.modal-trigger').leanModal();
                    });
                </script>

                <a class="tag modal-trigger btn-large waves-effect waves-light tooltipped"   id="tag{{marker.id}}"
                   ng-repeat="marker in markers" repeat-done="initModals()"  
                   ng-click="markerClick(marker.id)"
                   data-target="MarkerModal"
                   style="opacity:0;"
                   data-position="top" data-delay="10" data-tooltip="{{marker.text}}"
                   ng-show="showMarkers"
                   
                   left="{{marker.x}}" top="{{marker.y}}" width="{{marker.width}}" height="{{marker.height}}">
                       
                </a>

               



                <!--<div class="tag waves-effect waves-light btn-large"
                     style="top:20%;"
                     left="0.25" top="0.25" width="50" height="50">

                </div>
                <div class="tag waves-effect waves-light btn-large"
                     style="top:20%;"
                     left="0.50" top="0.50" width="50" height="50">
                </div>
                <div class="tag waves-effect waves-light btn-large"
                     style="top:20%;"
                     left="0.75" top="0.75" width="50" height="50">

                </div>-->




            </div>
        </div>
        </br>

        <!-- Buttons -->
        <div  class="row">

       
            <div class="switch" style="float:left;">
                <label>Markers</label>
                <label>
                    Off
                    <input type="checkbox" ng-model="showMarkers" checked="checked">
                    <span class="lever"></span>
                    On
                </label>
            </div>
       
            <div id="slider" ng-model="markersOpacity"  style="float:left;width:400px;margin-left:30px;margin-top:5px;"></div>

        </div>


        <!-- Top panel -->
        <!-- Modals -->
        <!-- Add Project Modal Structure -->
        <div id="AddMarkerModal" class="modal bottom-sheet">

            <div class="container">
                <form novalidate class="simple-form">
                    <div class="col-md-9">
                        <div class="input-field">
                            <textarea type="text" class="materialize-textarea" ng-model="newMarker.text" />
                            <label for="icon_prefix">Opinion</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <btn class="btn waves-effect waves-green" ng-click="createMarker()">Add marker</btn>
                    </div>
                </form>
            </div>
        </div>

        <div id="MarkerModal" class="modal bottom-sheet">

            <div class="container">
                <form novalidate class="simple-form">
                    <div class="col-md-9 center">
                             <br>
                        <h4>{{selectedMarker.text}}</h4>
                            
                        <br>
                    </div>

                    <div class="col-md-3">
                        <btn class="btn waves-effect waves-green" ng-click="createMarker()">Remove marker</btn>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>
