



<div ng-show="{{user_logged}}" class="window" id="markers-window">
    <div data-ng-init="init()">

        <div class="center">
            <div id="image-container" class="image-container tagged"
                 style="background-color:#0B0B0B;  height: {{imageContainerHeight}}px;">

                <a class="btn-sm text-teal waves-effect waves-light" ng-click="imageContainerBiger();" style="border-style:solid;border-width:1px;top:5px; left:5px;position:absolute;font-size:10px;padding:2px;">Bigger</a>
                <a class="btn-sm waves-effect waves-light" ng-click="imageContainerSmaller();" style="border-style:solid;border-width:1px;left:45px;top:5px;position:absolute;font-size:10px;padding:2px;">Smaller</a>
                
                <a class="btn-sm waves-effect waves-light" ng-click="fullScreen();" style="border-style:solid;border-width:1px;top:30px;width:82px;left:5px;position:absolute;font-size:10px;padding:2px;">Fullscreen</a>

                <img id="image"
                     class="modal-trigger"
                     src="data:image/JPEG;base64,{{image}}"
                     ng-click="click($event)"
                     style="opacity:0;"
                     data-target="AddMarkerModal">


                <script>
                    // materialize modal initailizer
                    $(document).ready(function () {
                        jQuery.noConflict();
                        $('.modal-trigger').leanModal();
                    });
                </script>

                <a class="tag modal-trigger btn-large waves-effect waves-light tooltipped" id="tag{{marker.id}}"
                   ng-repeat="marker in markers" repeat-done="initModals()"
                   ng-click="markerClick(marker.id)"
                   data-target="MarkerModal"
                   style="opacity:0;"
                   data-position="top" data-delay="10" data-tooltip="{{marker.text}}"
                   ng-show="showMarkers"
                   left="{{marker.x}}" top="{{marker.y}}" width="{{marker.width}}" height="{{marker.height}}">
                    {{marker.number}}
                </a>


                <div class="row" ng-show="node.rejected" style="padding:8px;padding-bottom:0;background-color:rgb(84, 7, 7) ;position: absolute;z-index: 10;top:10%;font-size:20px;">
                    <div class="row white-text">
                        <b>Node Rejected</b>  {{'   '+node.whoRejected.name}}
                    </div>
                    <div class="row" style="padding:0;margin:0;">
                        <button class="btn transparent waves-effect waves-light right" ng-click="rejectNode();" style="margin:0;">
                            <i class="material-icons left white">replay</i>
                            Undo
                        </button>
                    </div>
                </div>
                <div class="row" ng-show="node.accepted" style="padding:8px;padding-bottom:0;background-color:teal ;position: absolute;z-index: 10;top:10%;font-size:20px;">
                    <div class="row white-text">
                        <b>Node Accepted</b> {{'   '+node.whoAccepted.name}}
                    </div>
                    <div class="row" style="padding:0;margin:0;">
                        <button class="btn transparent waves-effect waves-light right" ng-click="acceptNode();" style="margin:0;">
                            <i class="material-icons left white">replay</i>
                            Undo
                        </button>
                    </div>
                </div>




            </div>
        </div>
        <br>

        <!-- Buttons -->
        <div class="row hoverable" style="background-color:rgb(20,20,20); padding:25px; border-radius:15px;">

            <div class="col-md-4">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn transparent" ng-click="likeNode();" style="width:150px;">
                        <i class="material-icons left white">thumb_up</i>
                        Like      {{node.likes.length}}
                    </button>
                    <button class="btn transparent" ng-click="dislikeNode();" style="width:150px;">
                        <i class="material-icons left white">thumb_down</i>
                        Dislike {{node.dislikes.length}}
                    </button>
                </div>

                <div class="transparent modal-trigger" style="width:300px;height:30px;border-radius:15px; border-color:teal; border-width:1px;border-style: solid;cursor:pointer;"
                     data-target="LikesModal">
                    <div class="teal" style="width: {{node.likes.length/(node.likes.length+node.dislikes.length)*100}}%; height:100%;border-radius:15px;">
                    </div>
                </div>
            </div>
            <div class="col-md-4 center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn modal-trigger waves-effect waves-light" data-target="AcceptModal" ng-hide="node.rejected || node.accepted"
                            style="margin-right:4px;">
                        <i class="material-icons white left">spellcheck</i>
                        Accept
                    </button>
                    <button class="btn waves-effect waves-light" ng-click="rejectNode();" ng-hide="node.rejected || node.accepted">
                        <i class="material-icons left white">not_interested</i>
                        Reject
                    </button>
                </div>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="switch" style="float:left;">
                    <label>Markers</label>
                    <label>
                        Off
                        <input type="checkbox" ng-model="showMarkers" checked="checked">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
                <div id="slider" ng-model="markersOpacity" style="float:left;width:90%;margin-left:30px;margin-top:5px;margin-right:30px;"></div>

            </div>






        </div>


        <!-- Top panel -->
        <!-- Modals -->
        <!-- Add Project Modal Structure -->
        <div id="AddMarkerModal" class="modal bottom-sheet">

            <div class="container">
                <form novalidate class="simple-form">
                    <div class="col-md-9">
                        <div class="input-field">
                            <textarea type="text" class="materialize-textarea" ng-model="newMarker.text" />
                            <label for="icon_prefix">Opinion</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <btn class="btn waves-effect waves-green" ng-click="createMarker(null)">Add opinion</btn>
                    </div>
                </form>
            </div>
        </div>

        <div id="MarkerModal" class="modal bottom-sheet" style="max-height:90%">
            <br />
            <div class="container">
                <div class="row" ng-repeat="opinion in selectedMarker.opinions" style="margin-bottom: 0;">
                    <div class="col-md-12 well" style="border-color:rgb(20,20,20);border-width:5px;border-radius:15px;padding:15px;">

                        <div class="col-md-2">
                            <div class="chip"
                                 style="background-color:transparent;">
                                <img src="http://czasdzieci.pl/pliki/wydarzenia/2012/f_w_41138_5aa44.jpg" width="150" alt="Contact Person" style="width:60px;height:60px;">
                            </div>
                            {{opinion.id}}

                        </div>

                        <div class="col-md-8">
                            {{opinion.author.name}}
                            <br>
                            <h5>{{opinion.opinion}}</h5>
                            <br>
                            <!-- Replies -->
                            <div class="row well" ng-repeat="reply in opinion.replies" style="margin-left:40px !important; margin-bottom:0;border-color:rgb(20,20,20);">

                                <b>{{reply.author.name}}</b> <i class="right">{{reply.timestamp}}</i>

                                <h6>{{reply.text}}</h6>


                            </div>


                            <!-- Reply box -->
                            <div class="well row" ng-show="opinion.showReply == true">
                                <div class="input-field">
                                    <textarea type="text" class="materialize-textarea" ng-model="opinion.replyText" style="font-size:20px !important;" />
                                    <button class="btn transparent waves-effect waves-red" ng-click="opinion.showReply = false">Close</button>
                                    <button class="btn transparent waves-effect waves-teal right" ng-click="replyToOpinion(opinion.id, opinion.replyText);">Reply</button>
                                </div>
                            </div>

                            <button class="btn transparent waves-effect waves-teal right" ng-click="opinion.showReply = true" style="width:150px" ng-show="opinion.showReply!=true">
                                <i class="material-icons left">replay</i>
                                Reply
                            </button>
                        </div>
                        <div class="col-md-2">
                            <i class="right">{{opinion.timestamp}}</i>
                            <button class="btn transparent waves-effect waves-red right" style="width:150px">
                                <i class="material-icons left">error_outline</i>
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form novalidate class="simple-form">
                        <div class="col-md-12">
                            <div class="input-field">
                                <i class="material-icons prefix">subject</i>
                                <textarea type="text" class="materialize-textarea" ng-model="newMarker.text" style="font-size:20px !important;" />
                                <label for="icon_prefix">Opinion</label>
                            </div>

                            <button class="btn waves-effect waves-green right" ng-click="createMarker(selectedMarker.id)">
                                <i class="right white-text material-icons">send</i>
                                Add opinion
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Reply to opinion modal -->
        <div id="LikesModal" class="modal" style=" background-color: transparent !important; box-shadow: 0 0 0 0 !important;">
            <div class="modal-content">
                <div class="row">
                    <div class="col-md-6 center">

                        <h4>Likes {{node.likes.length}} <i class="material-icons left white">thumb_up</i></h4>

                        <p ng-repeat="like in node.likes">
                            {{like.name}}
                        </p>

                    </div>
                    <div class="col-md-6 center">
                        <a class="right modal-action modal-close waves-effect waves-red btn black">X</a>

                        <div class="col-sm-10"><h4>Dislikes {{node.dislikes.length}} <i class="material-icons left white">thumb_down</i></h4></div>
                        <p ng-repeat="dislike in node.dislikes">
                            {{dislike.name}}
                        </p>

                    </div>



                </div>
            </div>
        </div>

        <!-- Confirmation modal -->
        <div id="AcceptModal" class="modal" style="width:500px;background-color: transparent !important; box-shadow: 0 0 0 0 !important;">
            <div class="modal-content">
                <div class="row">
                    <h4>Accept <a class="right modal-action modal-close waves-effect waves-red btn black">X</a></h4>
                    
                </div>

                <div class="row">
                    <button class="btn waves-effect waves-light" ng-click="acceptProject();" style="width:220px;">
                        <i class="left white-text material-icons">done_all</i>
                        Whole project
                    </button>
                    <button class="btn waves-effect waves-light" ng-click="acceptNode();" style="width:220px;">
                        <i class="left white-text material-icons">done</i>
                        Single node
                    </button>
                </div>
            </div>
        </div>


    </div>

</div>
