@using Microsoft.AspNet.Identity

<br><br><br><br>
<div class="account-panel">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
        {
            @Html.AntiForgeryToken()


            <div class="btn btn-block" style="background-color: #0c6098 !important;
                                                        height:50px;">

                <img class="avatar-small" src="https://gitlab.com/uploads/user/avatar/64248/stanhu.jpg" width="30" />
                @User.Identity.GetUserName()


            </div>
            <br>
            <div class="btn btn-block" onclick="javascript: document.getElementById('logoutForm').submit()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
            </div>


        }
    }
    else
    {

        @Html.ActionLink("Register", "Register", "Account", routeValues: null,
           htmlAttributes: new { id = "registerLink" })

        @Html.ActionLink("Log in", "Login", "Account", routeValues: null,
           htmlAttributes: new { id = "loginLink" })

    }
</div>