@using Microsoft.AspNet.Identity

<br><br><br><br>
<div class="account-panel">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
        {
            @Html.AntiForgeryToken()



            <!-- extract style -->
            <div class="center" style="padding:5px;">
                <div class="chip"
                     style="font-size:16px; color:black;width: 100%;
                       border-radius:0;
                       background-color:transparent;
                       color:white;
                       ">
                    <img src="http://czasdzieci.pl/pliki/wydarzenia/2012/f_w_41138_5aa44.jpg" width="50" alt="Contact Person">
                    @User.Identity.GetUserName()
                </div>
            </div>
            <hr style="height:1px; margin:5px;visibility:hidden;" />
            <div class="btn waves-effect waves-red" onclick="javascript: document.getElementById('logoutForm').submit()"
                 style="background-color:rgba(11, 11, 11, 1);
                 width:100%">
                <span class="glyphicon glyphicon-chevron-left" style=""></span>
            </div>


        }
    }
    <!--  else
      {

          @Html.ActionLink("Register", "Register", "Account", routeValues: null,
             htmlAttributes: new { id = "registerLink" })

          @Html.ActionLink("Log in", "Login", "Account", routeValues: null,
             htmlAttributes: new { id = "loginLink" })

      } -->
</div>