



/* Fade out long text in panel*/

.projects-panel-details {
 
  height: 100px;
  position: relative;
  overflow: hidden;
}
.projects-panel-details .fade-overlay { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, #0B0B0B);
}
/**/

.panel-heading {
    max-height: 170px !important;
}

div.fill {
    
  
    justify-content:center;
    align-items:center;
    overflow:hidden
}
div.fill img {
    flex-shrink:0;
   
}


.tab a{

    color: white !important;

}

.tabs .tab a.active {
     border-bottom: 2px solid teal !important; 

}

a:hover{

    cursor:pointer;
}